$white-smoke: #f4f4f4;
$light-white: #eee;
$dark-blue: #34495e;
$pure-white: #fff;
$shadow-blue: #718daa;
$dark: #2e2e2e;
$light-gray: #e5e5e5;
$light-of-gray: #bbb;

$dark-gradient: linear-gradient(45deg, rgba(32, 32, 33, 0.297), rgba(0, 0, 0, 0.681));

